/*    .-============================-. */
/*  .'   *     .     *     .     *    '. */
/* /     ____ ___ _   _ _   _ ____      \ */
/* |    |  _ \_ _| \ | | | | |  _ \     | */
/* |    | |_) | ||  \| | | | | |_) |    | */
/* |    |  __/| || |\  | |_| |  __/     | */
/* |    |_|  |___|_| \_|\___/|_|        | */
/* \                                    / */
/*  '.    *     .     *     .    *    .' */
/*    '-============================-' */

/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #eee1c3;
    --color01: #6b2e06;
    --color02: #465900;
    --color03: #61620d;
    --color04: #004584;
    --color05: #6d2e52;
    --color06: #00656a;
    --color07: #190403;
    --color08: #b59b72;
    --color09: #944e1e;
    --color10: #657e00;
    --color11: #838707;
    --color12: #2865b6;
    --color13: #964b79;
    --color14: #2b8a90;
    --color15: #391d19;
}

/*  ______   __       ______                                        */
/* /_____/\ /_/\     /_____/\                                       */
/* \:::_ \ \\:\ \    \:::_ \ \                                      */
/*  \:\ \ \ \\:\ \    \:\ \ \ \                                     */
/*   \:\ \ \ \\:\ \____\:\ \ \ \                                    */
/*    \:\_\ \ \\:\/___/\\:\/.:| |                                   */
/*  ___\_____\/_\_____\/ \____/_/  ______    _______   ______       */
/* /________/\/_____/\ /_______/\ /_____/\ /_______/\ /_____/\      */
/* \__.::.__\/\:::_ \ \\::: _  \ \\:::_ \ \\::: _  \ \\:::_ \ \     */
/*   /_\::\ \  \:\ \ \ \\::(_)  \/_\:\ \ \ \\::(_)  \/_\:\ \ \ \    */
/*   \:.\::\ \  \:\ \ \ \\::  _  \ \\:\ \ \ \\::  _  \ \\:\ \ \ \   */
/*    \: \  \ \  \:\_\ \ \\::(_)  \ \\:\_\ \ \\::(_)  \ \\:\_\ \ \  */
/*     \_____\/   \_____\/ \_______\/ \_____\/ \_______\/ \_____\/  */